.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    // height: 100%;
    height: 400px;
}

.icon {
    height: 30px;
    width: 30px;
    size: 30px;
}

.title {
    color: #3f3f3f;
    font-size: 20px;
    margin-top: 5p;
}

.dec {
    color: #8792a2;
    font-size: 14px;
}

.content {
    width: 300px;
}
